{% extends 'main/base_emp.html'%}


{% block content %}
<!-- Breadcumbs -->
<div class="mb-8">
    <nav class="flex" aria-label="Breadcrumb">
    <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
        <li>
        <div class="flex items-center">
            <a href="{% url 'main:suppliers_view' %}" class="ms-1 text-sm font-medium text-gray-700 hover:text-[--jaffa-90] md:ms-2">Suppliers</a>
        </div>
        </li>
        <li aria-current="page">
        <div class="flex items-center">
            <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
            </svg>
            <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2">Edit Supplier</span>
        </div>
        </li>
    </ol>
    </nav>
</div>

<!-- Add Form -->
<form class="max-w-sm mx-auto" action="{% url 'main:edit_supplier' supplier.pk %}" method="post">
    {% csrf_token %}
    <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
        <input value="{{supplier.name}}" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Supplier Name" required>
    </div>
    <div class="mb-5">
        <label for="mobile" class="block mb-2 text-sm font-medium text-gray-900">Mobile</label>
        <input value="{{supplier.mobile}}" type="tel" name="mobile" pattern="05[0-9]{8}" placeholder="05XXXXXXXX" id="mobile" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
    </div>
    <div class="mb-5">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
        <input value="{{supplier.email}}" type="email" name="email"  id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="supplier@example.com">
    </div>
    <div class="mb-5">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
        <textarea name="description" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Supplier Description..." >{{supplier.description}}</textarea>
    </div>

  <button type="submit" class="text-white bg-[--jaffa-90] hover:bg-[--jaffa-300] focus:ring-4 focus:outline-none focus:ring-[--jaffa-30] font-medium rounded-lg text-sm px-5 py-2.5 text-center">Edit supplier information</button>
</form>
{% endblock %}